[Unit]
Description=PostgresBackupBot
After=syslog.target
After=network.target

[Service]
Type=simple
User=postgres
WorkingDirectory=/home/backup/PostgresBackupBot
ExecStart=/home/backup/PostgresBackupBot/venv/bin/python3 main.py
Restart=always

[Install]
WantedBy=multi-user.target