from conf.config_classes import BotoConfig, DatabaseForBackup
from dataclasses import dataclass

@dataclass
class CommonConfig:
    """
    Заполнять обязательно не все. Если вам нужен только модуль делающий бэкапы - можете заполнить
    только данные отмеченные в комментарии как BACKUP.
    """

    # BACKUP
    # Если ввести только название базы - то периодичность хранения 
    # резервных копий будет установлена по умолчанию ()
    databases = [
        DatabaseForBackup(''),
    ]

    # BACKUP & RESTORE
    boto_config = BotoConfig(
        aws_access_key_id='',
        aws_secret_access_key='',
        s3_bucket=''
    )

    # RESTORE
    bot_token = ''
    tg_admins = {} # Дима, Витя

    # BACKUP & RESTORE
    # Папка, где будут временно размещены созданные бэкапы перед загрузкой в s3. 
    # Сюда же загружаются бэкапы перед восстановлением. 
    # Внимание! Автоматически очищается целиком. 
    # Можно не менять. По умолчанию папка в программе
    temp_path = 'temp'